.M02{
    .M03{
      background: none;
      .M04{
        border-radius: 10px;
        background-color: white;
        border-right: 3px #1040C5 solid;
        border-bottom: 3px #1040C5 solid;
        .M05{
          border-top-right-radius: 30px;
          border-bottom-right-radius: 30px;
        }
      }
    }
  }